In [ ]:
from neo4j import GraphDatabase
from sentence_transformers import SentenceTransformer

# Kredensial Neo4j
NEO4J_URI = "bolt://localhost:7687"
NEO4J_USERNAME = "neo4j"
NEO4J_PASSWORD = "password"

# Inisialisasi driver Neo4j
driver = GraphDatabase.driver(NEO4J_URI, auth=(NEO4J_USERNAME, NEO4J_PASSWORD))

# Inisialisasi model embedding
embedder = SentenceTransformer('sentence-transformers/distiluse-base-multilingual-cased-v2')

c:\Users\ganendraaby\tesis\env\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
def fetch_restaurants(tx):
    query = "MATCH (r:Restaurant) RETURN r.r_id AS r_id, r.restaurant AS name"
    return list(tx.run(query))

with driver.session() as session:
    restaurants = session.execute_read(fetch_restaurants)

In [3]:
restaurants

[<Record r_id=1 name=' Clouds Coffee'>,
 <Record r_id=2 name=' Mie Jeder'>,
 <Record r_id=3 name='AHA by Kudos'>,
 <Record r_id=4 name='AHAN CHASIOPUI'>,
 <Record r_id=5 name='Aiciro, BG Junction'>,
 <Record r_id=6 name='Amalia Cake, Wringinanom'>,
 <Record r_id=7 name='Amanda Brownies, Sunggal'>,
 <Record r_id=8 name='Amanda Brownies, Tegalsari'>,
 <Record r_id=9 name='Aneka Gorengan Siaga'>,
 <Record r_id=10 name='Aneka Seblak Endull'>,
 <Record r_id=11 name='Angkringan Abas Krian'>,
 <Record r_id=12 name='Arangsimpur'>,
 <Record r_id=13 name='Arkana Cafe, Tuasan'>,
 <Record r_id=14 name='Assalam Resto'>,
 <Record r_id=15 name='Ayam Gacoan,Waru'>,
 <Record r_id=16 name='Ayam Trolok'>,
 <Record r_id=17 name='BANANESH'>,
 <Record r_id=18 name='BEBEK SIMAYAKHO SURABAYA'>,
 <Record r_id=19 name='BICOPI GUNUNGANYAR'>,
 <Record r_id=20 name='BS Coffee, Halat'>,
 <Record r_id=21 name='Baked Well, Petula'>,
 <Record r_id=22 name='Bakmi Kun'>,
 <Record r_id=23 name='Bakmi Lopui 93'>,
 <Record r_id=24 name='Bakso Bakar Hot '>,
 <Record r_id=25 name='Bakso Biru, Sidoarjo'>,
 <Record r_id=26 name='Bakso Bola, STM'>,
 <Record r_id=27 name='Bakso Kenari'>,
 <Record r_id=28 name='Bakso Lava'>,
 <Record r_id=29 name='Bakso Solo Kraton'>,
 <Record r_id=30 name='Bakso Titoti, Parung'>,
 <Record r_id=31 name='Bakso Tutus'>,
 <Record r_id=32 name='Bandeng Karimanasi'>,
 <Record r_id=33 name='Baraccung, Ambengan'>,
 <Record r_id=34 name='Basecamp Coffee, Medan Sunggal'>,
 <Record r_id=35 name='BasrenG GonjrenG'>,
 <Record r_id=36 name='Bebek Boedjang, BSD'>,
 <Record r_id=37 name='Bebek NdoWer'>,
 <Record r_id=38 name='Besty Cemilan, Kapten Sumarsono'>,
 <Record r_id=39 name='Big Bananas, Siwalankerto'>,
 <Record r_id=40 name='Bihun Ikan Hongkong'>,
 <Record r_id=41 name='Bika Ambon Ati'>,
 <Record r_id=42 name='Bing-Go, Wiyung'>,
 <Record r_id=43 name='Bitten Coffee / Kopi'>,
 <Record r_id=44 name='Boca, Dr Mansyur'>,
 <Record r_id=45 name='Bolen Quemami Bakery'>,
 <Record r_id=46 name='Bolu Susu Berastagi'>,
 <Record r_id=47 name='Boonsikdang, Hublife Jakarta'>,
 <Record r_id=48 name='Bou Bobalicious'>,
 <Record r_id=49 name='Bourda Bakery, Perak'>,
 <Record r_id=50 name='Breadpop Medan'>,
 <Record r_id=51 name='Break Cafe, Sedati'>,
 <Record r_id=52 name='Brownies for ANGEL'>,
 <Record r_id=53 name='Bubur Punokawan'>,
 <Record r_id=54 name='Bukit Kopi, Jurung'>,
 <Record r_id=55 name='Bunga Bakery, Cibinong'>,
 <Record r_id=56 name='Bunga Bakery, Depok'>,
 <Record r_id=57 name='Burger Bros, Bintaro'>,
 <Record r_id=58 name='Burger Bros, Ciledug'>,
 <Record r_id=59 name='Burger Bros, Genteng'>,
 <Record r_id=60 name='Burger Bros, Medan Maimun'>,
 <Record r_id=61 name='Burger Gendon'>,
 <Record r_id=62 name='Burger Kalap'>,
 <Record r_id=63 name='Burger Naura'>,
 <Record r_id=64 name='Burger Shot, Wiyung'>,
 <Record r_id=65 name='CGV, Focal Point'>,
 <Record r_id=66 name='CIATER BEACH'>,
 <Record r_id=67 name='COCO, Gwalk Citraland'>,
 <Record r_id=68 name='Cafe City, Thamrin'>,
 <Record r_id=69 name='Cafe OTSS'>,
 <Record r_id=70 name='Cafelar Coffee & Eatery'>,
 <Record r_id=71 name='Calmante, Cemara'>,
 <Record r_id=72 name='Cemilan Dewa, Pandean'>,
 <Record r_id=73 name='Cemilan Kenangan Tembung'>,
 <Record r_id=74 name='Cemilan Snack Medan'>,
 <Record r_id=75 name="Cent's, Sumatera">,
 <Record r_id=76 name='Chaophraya, Tegalsari'>,
 <Record r_id=77 name='ChatThai, Rungkut'>,
 <Record r_id=78 name='Chateraise, Senayan City'>,
 <Record r_id=79 name='Chatime, Binjai Supermall'>,
 <Record r_id=80 name='Cheskee, Pakuwon Mall'>,
 <Record r_id=81 name='Chi Fry, Wiyung'>,
 <Record r_id=82 name='Chicken Crush, Delitua'>,
 <Record r_id=83 name='Chicken Crush, Gaperta'>,
 <Record r_id=84 name='Chicken Crush, Tuasan'>,
 <Record r_id=85 name='Chicken Inc, Medan'>,
 <Record r_id=86 name='Cibcib Annyeong, Warkop Seket Limo'>,
 <Record r_id=87 name='Cimory Condet, Balekambang'>,
 <Record r_id=88 name='Cinepolis, Pondok Kelapa'>,
 <Record r_id=89 name='Copa Coffee'>,
 <Record r_id=90 name='Corndog Doona, Pinang'>,
 <Record r_id=91 name='Corndog Mozarella'>,
 <Record r_id=92 name='Corndog Mozarella Bites'>,
 <Record r_id=93 name='Cotta Coffee, Jatiwaringin'>,
 <Record r_id=94 name='Creme Croffle'>,
 <Record r_id=95 name="D'BestO, Wonokusumo">,
 <Record r_id=96 name='Dailybox, Kutisari'>,
 <Record r_id=97 name='Dapoer Sedap Wangi'>,
 <Record r_id=98 name='Dapur 99, Sedati'>,
 <Record r_id=99 name='Dapur Aliqa, Gembong'>,
 <Record r_id=100 name='Dapur Mama Ketrin'>,
 <Record r_id=101 name='Dapur Pancali'>,
 <Record r_id=102 name='Dapurnyonyabinjai, Binjai Timur'>,
 <Record r_id=103 name='Dcrepes, Ruko Setia Budi'>,
 <Record r_id=104 name='DeFroggy'>,
 <Record r_id=105 name='Dear Butter'>,
 <Record r_id=106 name='Dear Butter, Pakubuwono'>,
 <Record r_id=107 name='Dear Butter, Sidoarjo'>,
 <Record r_id=108 name='Depan Gang Coffee'>,
 <Record r_id=109 name='Depot Bamara, Purwodadi'>,
 <Record r_id=110 name='Depot Kartika, Ketajen'>,
 <Record r_id=111 name='Depot Manganokene, Pasar Buah 36'>,
 <Record r_id=112 name='Depot Slamet, Dharmawangsa'>,
 <Record r_id=113 name='Depot Slamet, Kedungdoro'>,
 <Record r_id=114 name='Depot Wijaya, Demak'>,
 <Record r_id=115 name='Doe Sun Bakery'>,
 <Record r_id=116 name='Dooduck, Thamrin Plaza'>,
 <Record r_id=117 name='Dopota, Pucang'>,
 <Record r_id=118 name='Dough Lab, Senopati'>,
 <Record r_id=119 name="Dunkin' Donuts, Ringroad">,
 <Record r_id=120 name='DuriAnd, Bogor'>,
 <Record r_id=121 name='Durian House, Sekip'>,
 <Record r_id=122 name='Eat Toast Surabaya'>,
 <Record r_id=123 name='Eatboss, Ring Road'>,
 <Record r_id=124 name='Es Teh Indonesia ,Sukolilo'>,
 <Record r_id=125 name='Esteh Indonesia, Gwalk'>,
 <Record r_id=126 name='Esteh Indonesia, Sidoarjo'>,
 <Record r_id=127 name='FatFoodMeli'>,
 <Record r_id=128 name='Father Kafe'>,
 <Record r_id=129 name='Fire Wok Kitchen'>,
 <Record r_id=130 name='France Bakery, Bambu'>,
 <Record r_id=131 name='Fresh Boba, Tandes'>,
 <Record r_id=132 name='Fritto Chicken, Sudarso'>,
 <Record r_id=133 name='Fritto Chicken, TVRI'>,
 <Record r_id=134 name='GUREE, Senopati'>,
 <Record r_id=135 name='Garis Cafe'>,
 <Record r_id=136 name='Gelato House Cafe '>,
 <Record r_id=137 name='Genkaya, Pabuaran'>,
 <Record r_id=138 name='Geprek Bensu, Karawang'>,
 <Record r_id=139 name='Geprek Mms, Gedangan'>,
 <Record r_id=140 name="Gianni's Pizzeria">,
 <Record r_id=141 name='Gildak, Tunjungan'>,
 <Record r_id=142 name='Glek, Ketintang 157'>,
 <Record r_id=143 name='Go Kage, Mulyosari'>,
 <Record r_id=144 name='GoSteak, Tj Priok'>,
 <Record r_id=145 name='Gocha Gocha'>,
 <Record r_id=146 name='Golden Lamian, Jatiwaringin'>,
 <Record r_id=147 name='Goorengan Indonesia'>,
 <Record r_id=148 name='Gorengan Bu Aidah'>,
 <Record r_id=149 name='Great Cafe Medan, Katamso'>,
 <Record r_id=150 name='Greenly, Darmo Permai'>,
 <Record r_id=151 name='Greenly, Senopati'>,
 <Record r_id=152 name='Groen Kopi'>,
 <Record r_id=153 name='Gultik Merdeka'>,
 <Record r_id=154 name='Gurami Bakar Surabaya'>,
 <Record r_id=155 name='Guzva Coffee & Resto'>,
 <Record r_id=156 name='HRD COFFEE SHOP'>,
 <Record r_id=157 name='Hai Steak House, kingsquare Driyorejo'>,
 <Record r_id=158 name='Hatchi'>,
 <Record r_id=159 name='Hayaku Sidoarjo, Citra Harmoni'>,
 <Record r_id=160 name='Hedon Cafe, Sukatani'>,
 <Record r_id=161 name='Heysteak, Medan Johor'>,
 <Record r_id=162 name='Hoffen milk bar'>,
 <Record r_id=163 name='HokBen, Bogor Yasmin'>,
 <Record r_id=164 name='HokBen, Kitchen Otista'>,
 <Record r_id=165 name='HokBen, Suncity Sidoarjo'>,
 <Record r_id=166 name='Hola Crabs, Abadi'>,
 <Record r_id=167 name='Hot Buns Bakery'>,
 <Record r_id=168 name='Hungrypedia Mustika'>,
 <Record r_id=169 name='IO.INOUT'>,
 <Record r_id=170 name='ITAEWON CLASS'>,
 <Record r_id=171 name='IZZA kitchen'>,
 <Record r_id=172 name='Iconic Jajanan, Sambikerep'>,
 <Record r_id=173 name='Ikon'>,
 <Record r_id=174 name='Inna Roti, Jambangan'>,
 <Record r_id=175 name='Istanbul Kebab'>,
 <Record r_id=176 name='JACK DONUT'>,
 <Record r_id=177 name='Jajan Toast'>,
 <Record r_id=178 name='Jakarta Cheese Factory'>,
 <Record r_id=179 name='Jelly Potter, Sikambing'>,
 <Record r_id=180 name='Jiegwan Penyetan, Candi'>,
 <Record r_id=181 name='Joglo Sewu Roso'>,
 <Record r_id=182 name='Joomba, Gwalk'>,
 <Record r_id=183 name='Joomba, Manyar Kertoarjo'>,
 <Record r_id=184 name='Jp Coffee'>,
 <Record r_id=185 name='Jus Buah, Umma'>,
 <Record r_id=186 name="K'bon Cafe">,
 <Record r_id=187 name='KAFE ASIA KRIAN'>,
 <Record r_id=188 name='KAMPUNG TELAGA,  Ciracas'>,
 <Record r_id=189 name='KEBULI JORDAN SURABAYA'>,
 <Record r_id=190 name='KENZO BOBA'>,
 <Record r_id=191 name='KFC, Bintaro 9'>,
 <Record r_id=192 name='KFC, Ciputat Gaplek'>,
 <Record r_id=193 name='KFC, Gempol City'>,
 <Record r_id=194 name='KFC, Home Centra'>,
 <Record r_id=195 name='KFC, Kemang Timur'>,
 <Record r_id=196 name='KFC, Lokasari Plaza'>,
 <Record r_id=197 name='KFC, Marelan Raya Medan'>,
 <Record r_id=198 name='KFC, Medan Fair'>,
 <Record r_id=199 name='KFC, Suzuya Medan'>,
 <Record r_id=200 name='KFC, Tugu Puncak'>,
 <Record r_id=201 name='KIMMIE LOK-LOK'>,
 <Record r_id=202 name='KOKUMI, Tunjungan Plaza'>,
 <Record r_id=203 name='KOMOREBI, GWalk Citraland'>,
 <Record r_id=204 name='KONOTORI, Manyar'>,
 <Record r_id=205 name='Kabayan Seafood Bandung'>,
 <Record r_id=206 name='Kai Xing Pao'>,
 <Record r_id=207 name='Kaka Udon'>,
 <Record r_id=208 name='Kampoeng Roti, Manukan'>,
 <Record r_id=209 name='Kampoeng Roti, Wiyung'>,
 <Record r_id=210 name='Kampoeng Roti, Wonosari'>,
 <Record r_id=211 name='Kampoeng Steak, Rungkut'>,
 <Record r_id=212 name='Kancha, Duri Kosambi'>,
 <Record r_id=213 name='Kantor Kupie, Stabat'>,
 <Record r_id=214 name='Kebab Asap, Sunter'>,
 <Record r_id=215 name='Kebab Bosman, Ciputat'>,
 <Record r_id=216 name='Kebab Bosman, Gandul'>,
 <Record r_id=217 name='Kebab Bosman, Kenjeran'>,
 <Record r_id=218 name='Kebab Bosman, Ngagel'>,
 <Record r_id=219 name='Kebab Lumer'>,
 <Record r_id=220 name='Kebab Ngidam, Meruya'>,
 <Record r_id=221 name='Kebon Samping, Cibinong'>,
 <Record r_id=222 name='Kebuli Jordan, Permata'>,
 <Record r_id=223 name='Kedai Budget, Dharmawangsa'>,
 <Record r_id=224 name='Kedai Coger Senayan'>,
 <Record r_id=225 name='Kedai Es Juragan'>,
 <Record r_id=226 name='Kedai Kopi Kakak'>,
 <Record r_id=227 name='Kedai Kopi Kulo, Setiabudi'>,
 <Record r_id=228 name='Kedai MAREM JOYO'>,
 <Record r_id=229 name='Kedai Mama AL'>,
 <Record r_id=230 name='Kedai ReffTwo'>,
 <Record r_id=231 name='Kedai Santai'>,
 <Record r_id=232 name='Kedai Teh Poci'>,
 <Record r_id=233 name='Kedai Toelis, Prambon'>,
 <Record r_id=234 name='Kedans, Stabat'>,
 <Record r_id=235 name='Keikpop, Bengawan'>,
 <Record r_id=236 name='Keikpop, Ciledug'>,
 <Record r_id=237 name='Keikpop, Ciputat'>,
 <Record r_id=238 name='Keikpop, Harapan Indah'>,
 <Record r_id=239 name='Keikpop, Kebon Jeruk'>,
 <Record r_id=240 name='Keikpop, Mangga Besar'>,
 <Record r_id=241 name='Keikpop, Pajajaran Bogor'>,
 <Record r_id=242 name='Keikpop, Radio Dalam'>,
 <Record r_id=243 name='Kembang Bawang PIK'>,
 <Record r_id=244 name='Kemek Nyok'>,
 <Record r_id=245 name='Kenduricoffee, Patal Senayan'>,
 <Record r_id=246 name='Kerang Pink'>,
 <Record r_id=247 name='Kerang Rebus Sumatra '>,
 <Record r_id=248 name='Khasanah Sari Citayam'>,
 <Record r_id=249 name='Killiney, DI Panjaitan'>,
 <Record r_id=250 name='Kim Boba Sidoarjo & My Croffle, Sidoarjo'>,
 <Record r_id=251 name='Kims Topokki, Bintara'>,
 <Record r_id=252 name='Koboi Cafe, Bromo'>,
 <Record r_id=253 name='Kokumi, Sun Plaza'>,
 <Record r_id=254 name='Kopi Baik'>,
 <Record r_id=255 name='Kopi Dari Hati, Jatibening'>,
 <Record r_id=256 name='Kopi Garasi Tua'>,
 <Record r_id=257 name='Kopi Nako Ciracas'>,
 <Record r_id=258 name='Kopi Panggang, Manyar'>,
 <Record r_id=259 name='Kopi Sadis, Tembung'>,
 <Record r_id=260 name='Kopi Yor, Medan'>,
 <Record r_id=261 name='LEPAS KOPI'>,
 <Record r_id=262 name='LImasari, S. Parman'>,
 <Record r_id=263 name='Lanuli Mocktail'>,
 <Record r_id=264 name='Lapis Srikandi'>,
 <Record r_id=265 name='Larissa Bakery'>,
 <Record r_id=266 name='Lazizaa, Kemangsen Krian'>,
 <Record r_id=267 name='Lesehan 8000, Panjunan Raya'>,
 <Record r_id=268 name='Locabite Burgerbox Johor'>,
 <Record r_id=269 name='Longpan Pizza, Tugu'>,
 <Record r_id=270 name='Lontong Stasiun'>,
 <Record r_id=271 name='Luigi Gelato, S Parman'>,
 <Record r_id=272 name='Lukumades, Pakuwon Mall'>,
 <Record r_id=273 name='Lumpia Pisang Kaget'>,
 <Record r_id=274 name='M2M, Mojosari'>,
 <Record r_id=275 name='MAB Toppoki, Jengki'>,
 <Record r_id=276 name='MARTABAK CHEF PLUTO'>,
 <Record r_id=277 name='MIXUE CIKARANG'>,
 <Record r_id=278 name='MY Drink 21 '>,
 <Record r_id=279 name='Macaroni Cuck, Siwalankerto'>,
 <Record r_id=280 name='Mafia Gedang'>,
 <Record r_id=281 name='Mai Pizza, Mojosari'>,
 <Record r_id=282 name='Mak Ciem, Pandaan'>,
 <Record r_id=283 name='Makema Coffee'>,
 <Record r_id=284 name='Mangkokku, Tenggilis'>,
 <Record r_id=285 name='Marina Bay Seafood'>,
 <Record r_id=286 name='Markas Ranjau, Mojosari'>,
 <Record r_id=287 name='Markobar, Duren Sawit'>,
 <Record r_id=288 name='Martabak Acc'>,
 <Record r_id=289 name='Martabak Bollywood Medan'>,
 <Record r_id=290 name='Martabak Djuara, Cawang'>,
 <Record r_id=291 name='Martabak Djuara, Pulo Brayan'>,
 <Record r_id=292 name='Martabak Hawaii, Gedangan'>,
 <Record r_id=293 name='Martabak Hollene, Sawotratap'>,
 <Record r_id=294 name="McDonald's, Binjai">,
 <Record r_id=295 name="McDonald's, Jatiwarna">,
 <Record r_id=296 name="McDonald's, Merr Surabaya">,
 <Record r_id=297 name="McDonald's, Panjang">,
 <Record r_id=298 name="McDonald's, Pekayon">,
 <Record r_id=299 name="McDonald's, Tambak">,
 <Record r_id=300 name='Mie Aceh Jal'>,
 <Record r_id=301 name='Mie Ayam Jiddah'>,
 <Record r_id=302 name='Mie Balap Seafood 77'>,
 <Record r_id=303 name='Mie Djoedes, Mojosari'>,
 <Record r_id=304 name='Mie Gacoan, Sidoarjo'>,
 <Record r_id=305 name='Mie Gragas Sidoarjo'>,
 <Record r_id=306 name='Mie Njerit, Krembung'>,
 <Record r_id=307 name='Mimi Donat Kentang'>,
 <Record r_id=308 name='Mixue Summarecon Serpong'>,
 <Record r_id=309 name='Mixue, Benhil'>,
 <Record r_id=310 name='Mixue, Harapan Indah'>,
 <Record r_id=311 name='Moeda Coffee'>,
 <Record r_id=312 name='Moida , Gramapuri Persada'>,
 <Record r_id=313 name='Mokat, Megamendung'>,
 <Record r_id=314 name='Molen Molek, Rungkut'>,
 <Record r_id=315 name='Moo Ngemil Corndog, Marelan 5'>,
 <Record r_id=316 name='Mr Seafood, Sedati'>,
 <Record r_id=317 name='Muda Burgerbar, Binjai'>,
 <Record r_id=318 name='Mujigae, Aren Jaya'>,
 <Record r_id=319 name='Murabae Bento, Palmerah'>,
 <Record r_id=320 name='My Bakery'>,
 <Record r_id=321 name='Nakama Bento'>,
 <Record r_id=322 name='Ndalem Prabu'>,
 <Record r_id=323 name='Ngastina, Bawean'>,
 <Record r_id=324 name='Ngasyapp!!, Gress Mall'>,
 <Record r_id=325 name='Ngasyapp!!, Plaza Surabaya'>,
 <Record r_id=326 name='Niat NGOPI, Kalimalang'>,
 <Record r_id=327 name='Nomi, Multatuli'>,
 <Record r_id=328 name='Noodle Bar, Mojopahit'>,
 <Record r_id=329 name='Nyayap, Metropolis Tenggilis'>,
 <Record r_id=330 name='OPPA OPPA TOKPOKKI'>,
 <Record r_id=331 name='Offle, Medan Mall'>,
 <Record r_id=332 name='OluOlu Korean food'>,
 <Record r_id=333 name='Ome Crepes Johor'>,
 <Record r_id=334 name='Ottoke Kape'>,
 <Record r_id=335 name='PANCONG PANTURA SURABAYA'>,
 <Record r_id=336 name='PECAL BERKAH 89'>,
 <Record r_id=337 name='PIPETZ'>,
 <Record r_id=338 name='POST DUA CAFE'>,
 <Record r_id=339 name='Padamu Negeri, Delipark'>,
 <Record r_id=340 name='Pancong Lumer'>,
 <Record r_id=341 name='Pancong Pijay'>,
 <Record r_id=342 name='Pancong Pocong, Menganti'>,
 <Record r_id=343 name='Panties Pizza, Pamulang'>,
 <Record r_id=344 name='Patbingsoo, Multatuli'>,
 <Record r_id=345 name='Pentol Gilaaa, Rungkut'>,
 <Record r_id=346 name='Pentol Gilaaa, Sidoarjo'>,
 <Record r_id=347 name='Pentol Seafood Korea, Pengantin Ali'>,
 <Record r_id=348 name='Pia Tamiang'>,
 <Record r_id=349 name='Pita Cappucino Cincau'>,
 <Record r_id=350 name='Pizza Mabruk'>,
 <Record r_id=351 name='Pizza Roemah Enak, Stabat'>,
 <Record r_id=352 name='Pocong Pancong Gayungsari'>,
 <Record r_id=353 name='Pocong Pancong Wage'>,
 <Record r_id=354 name='Podomoro Bakso, Cibubur'>,
 <Record r_id=355 name='Pokpia 88, Wahidin'>,
 <Record r_id=356 name='Pomello, Rangkah'>,
 <Record r_id=357 name='Pondok Punokawan'>,
 <Record r_id=358 name='Pulut Durian Rahmadsyah'>,
 <Record r_id=359 name='PunyaAyee Medan, Cemara'>,
 <Record r_id=360 name='Q5 Steak, Krian'>,
 <Record r_id=361 name='QiuQiuNian, Medan Marendal'>,
 <Record r_id=362 name='QiuQiunian, Medan Marelan'>,
 <Record r_id=363 name='RM. Jenar'>,
 <Record r_id=364 name='Raihan Bakery, Denai'>,
 <Record r_id=365 name='Raihan Bakery, Tembung'>,
 <Record r_id=366 name='Raja Bebek, Arjuna'>,
 <Record r_id=367 name='Rakoes Mulyorejo'>,
 <Record r_id=368 name='Ram Kopi, Merak'>,
 <Record r_id=369 name='Restaurant Miramar, Pemuda'>,
 <Record r_id=370 name='Resto Ayam Najeb'>,
 <Record r_id=371 name='Restoran Sederhana, Ampera'>,
 <Record r_id=372 name='Restoran Sederhana, Caman'>,
 <Record r_id=373 name='Restoran, Telaga Sindur'>,
 <Record r_id=374 name='Ridho Burger, Binjai'>,
 <Record r_id=375 name='Robakus Pahlawan'>,
 <Record r_id=376 name='Rocket Chicken, Gresik'>,
 <Record r_id=377 name='Rumah Pasta WiB'>,
 <Record r_id=378 name='SEBLAK BANDUNG 86'>,
 <Record r_id=379 name='SEBLAK GACOR'>,
 <Record r_id=380 name='SEPASI CAFE, Gayungan'>,
 <Record r_id=381 name='SOHA Coffee'>,
 <Record r_id=382 name='SUMOYAKI, PADEMANGAN'>,
 <Record r_id=383 name='SYMAXTY NINE COFFEE'>,
 <Record r_id=384 name='Salad Buah Tuasan'>,
 <Record r_id=385 name='Sang Pisang, Surabaya'>,
 <Record r_id=386 name='Sari Rasa, Mojosari'>,
 <Record r_id=387 name='Sari Roti, Sunggal'>,
 <Record r_id=388 name='Sate Kuda Sumbawa'>,
 <Record r_id=389 name='Sate Rembiga Racaca'>,
 <Record r_id=390 name='Seafood 2000, Krakatau'>,
 <Record r_id=391 name='Seafood Narako, Gubeng'>,
 <Record r_id=392 name='Seblak Bundaa, Wonoayu'>,
 <Record r_id=393 name='Seblak Dan Mie Ayam Kopi Santai Gkb, Jl Kalimantan 103 Gkb'>,
 <Record r_id=394 name='Seblak Gobyos, Jemursari'>,
 <Record r_id=395 name='Seblak Gobyos, Sedati'>,
 <Record r_id=396 name='Seblak Nova, Cimanggis'>,
 <Record r_id=397 name='Seblak Radja Sukodono'>,
 <Record r_id=398 name='Seblak, Cibinong'>,
 <Record r_id=399 name='Seger, Tembung'>,
 <Record r_id=400 name='Segi Coffee'>,
 <Record r_id=401 name='Segilima Cafe'>,
 <Record r_id=402 name='Sei dalam Bambu'>,
 <Record r_id=403 name='Sejiwa Cafe, Tuamang'>,
 <Record r_id=404 name='Sekata Kopi'>,
 <Record r_id=405 name='Semangkok Rempah'>,
 <Record r_id=406 name='Serambi Kuphi, Ksatria'>,
 <Record r_id=407 name='Seung Toppoki'>,
 <Record r_id=408 name='Shabu Idasuki, Cikarang'>,
 <Record r_id=409 name='Shawarma Sultan, Setiabudi'>,
 <Record r_id=410 name='Shihlin Ciputra Cibubur'>,
 <Record r_id=411 name='Simhae Medan'>,
 <Record r_id=412 name='Simpost Cafe'>,
 <Record r_id=413 name='Sioke Siobak ADAM'>,
 <Record r_id=414 name='Sistersfood, Purworejo'>,
 <Record r_id=415 name='Slea Kitchen'>,
 <Record r_id=416 name='Slice Cake, Jagakarsa'>,
 <Record r_id=417 name='Slice Coffee'>,
 <Record r_id=418 name='Sliced Pizzeria, Bintaro'>,
 <Record r_id=419 name='So Young, Sambikerep'>,
 <Record r_id=420 name='Sobat, Ring Road'>,
 <Record r_id=421 name='Sosis Bakar By Basis.Kuy, Intercon'>,
 <Record r_id=422 name='Sosis Bakar Gangan'>,
 <Record r_id=423 name='Sosis Bakar KN'>,
 <Record r_id=424 name='Spikoe Lusiana, Rungkut'>,
 <Record r_id=425 name='Starbucks, Multatuli Medan'>,
 <Record r_id=426 name='Starbucks, Sudirman Bogor'>,
 <Record r_id=427 name='Steaky Steak Cikarang'>,
 <Record r_id=428 name='StepUp Donut, Mulyorejo'>,
 <Record r_id=429 name='Subsidi'>,
 <Record r_id=430 name='Suka Kepiting'>,

In [4]:
restaurant_names = [r["name"] for r in restaurants]
embeddings = embedder.encode(restaurant_names)

In [5]:
embeddings

array([[ 0.02955594, -0.08057141, -0.04218303, ...,  0.04394352,
        -0.02660408,  0.08711329],
       [ 0.02478714,  0.00312811, -0.04371041, ...,  0.0083868 ,
        -0.02024836, -0.03979936],
       [ 0.02200453,  0.09500322,  0.02613436, ..., -0.00082575,
        -0.00353571,  0.03480814],
       ...,
       [ 0.01463079,  0.00223859, -0.0115818 , ..., -0.05965132,
         0.02015671, -0.03127729],
       [-0.01661389, -0.02644294, -0.02270968, ..., -0.00948348,
         0.00958199,  0.00654138],
       [ 0.02488373,  0.00939257, -0.01796604, ..., -0.02039219,
        -0.04197638,  0.04033522]], dtype=float32)

In [6]:
restaurant_id = [r["r_id"] for r in restaurants]

In [7]:
import pandas as pd

data = list(zip(restaurant_id, embeddings))
columns = ['r_id', 'dbmcv2embedding']

df = pd.DataFrame(data, columns=columns)
df

     r_id                                    dbmcv2embedding
0       1  [0.029555941, -0.080571406, -0.042183034, 0.02...
1       2  [0.02478714, 0.0031281132, -0.043710407, -0.05...
2       3  [0.022004534, 0.095003225, 0.026134364, 0.0290...
3       4  [0.024054483, 0.08342542, -0.021543853, 0.0146...
4       5  [0.0014816677, -0.013306294, 0.024911638, -0.0...
..    ...                                                ...
502   503  [-0.051765747, 0.0835114, -0.042090345, -0.035...
503   504  [-0.037178908, 0.04570786, -0.027657516, -0.03...
504   505  [0.014630788, 0.0022385903, -0.011581804, 0.01...
505   506  [-0.016613891, -0.026442943, -0.022709675, -0....
506   507  [0.024883732, 0.009392566, -0.017966041, 0.028...

[507 rows x 2 columns]

In [8]:
# Define the function to update node properties
def update_node_properties(tx, r_id, dbmcv2embedding):
    query = """
    MATCH (r:Restaurant {r_id: $r_id})
    SET r.dbmcv2embedding = $dbmcv2embedding
    """
    tx.execute_query(
        query,
        r_id=r_id,
        dbmcv2embedding=dbmcv2embedding
    )

In [9]:
for index, row in df.iterrows():
    update_node_properties(driver, row['r_id'], row['dbmcv2embedding'])
    print(f"{row['r_id']} has success")

print("All embedding data have been updated into neo4j")

1 has success
2 has success
3 has success
4 has success
5 has success
6 has success
7 has success
8 has success
9 has success
10 has success
11 has success
12 has success
13 has success
14 has success
15 has success
16 has success
17 has success
18 has success
19 has success
20 has success
21 has success
22 has success
23 has success
24 has success
25 has success
26 has success
27 has success
28 has success
29 has success
30 has success
31 has success
32 has success
33 has success
34 has success
35 has success
36 has success
37 has success
38 has success
39 has success
40 has success
41 has success
42 has success
43 has success
44 has success
45 has success
46 has success
47 has success
48 has success
49 has success
50 has success
51 has success
52 has success
53 has success
54 has success
55 has success
56 has success
57 has success
58 has success
59 has success
60 has success
61 has success
62 has success
63 has success
64 has success
65 has success
66 has success
67 has success
68 has success
69 has success
70 has success
71 has success
72 has success
73 has success
74 has success
75 has success
76 has success
77 has success
78 has success
79 has success
80 has success
81 has success
82 has success
83 has success
84 has success
85 has success
86 has success
87 has success
88 has success
89 has success
90 has success
91 has success
92 has success
93 has success
94 has success
95 has success
96 has success
97 has success
98 has success
99 has success
100 has success
101 has success
102 has success
103 has success
104 has success
105 has success
106 has success
107 has success
108 has success
109 has success
110 has success
111 has success
112 has success
113 has success
114 has success
115 has success
116 has success
117 has success
118 has success
119 has success
120 has success
121 has success
122 has success
123 has success
124 has success
125 has success
126 has success
127 has success
128 has success
129 has success
130 has success
131 has success
132 has success
133 has success
134 has success
135 has success
136 has success
137 has success
138 has success
139 has success
140 has success
141 has success
142 has success
143 has success
144 has success
145 has success
146 has success
147 has success
148 has success
149 has success
150 has success
151 has success
152 has success
153 has success
154 has success
155 has success
156 has success
157 has success
158 has success
159 has success
160 has success
161 has success
162 has success
163 has success
164 has success
165 has success
166 has success
167 has success
168 has success
169 has success
170 has success
171 has success
172 has success
173 has success
174 has success
175 has success
176 has success
177 has success
178 has success
179 has success
180 has success
181 has success
182 has success
183 has success
184 has success
185 has success
186 has success
187 has success
188 has success
189 has success
190 has success
191 has success
192 has success
193 has success
194 has success
195 has success
196 has success
197 has success
198 has success
199 has success
200 has success
201 has success
202 has success
203 has success
204 has success
205 has success
206 has success
207 has success
208 has success
209 has success
210 has success
211 has success
212 has success
213 has success
214 has success
215 has success
216 has success
217 has success
218 has success
219 has success
220 has success
221 has success
222 has success
223 has success
224 has success
225 has success
226 has success
227 has success
228 has success
229 has success
230 has success
231 has success
232 has success
233 has success
234 has success
235 has success
236 has success
237 has success
238 has success
239 has success
240 has success
241 has success
242 has success
243 has success
244 has success
245 has success
246 has success
247 has success
248 has success
249 has success
250 has success
251 has success
252 has success
253 has success
254 has success
255 has success
256 has success
257 has success
258 has success
259 has success
260 has success
261 has success
262 has success
263 has success
264 has success
265 has success
266 has success
267 has success
268 has success
269 has success
270 has success
271 has success
272 has success
273 has success
274 has success
275 has success
276 has success
277 has success
278 has success
279 has success
280 has success
281 has success
282 has success
283 has success
284 has success
285 has success
286 has success
287 has success
288 has success
289 has success
290 has success
291 has success
292 has success
293 has success
294 has success
295 has success
296 has success
297 has success
298 has success
299 has success
300 has success
301 has success
302 has success
303 has success
304 has success
305 has success
306 has success
307 has success
308 has success
309 has success
310 has success
311 has success
312 has success
313 has success
314 has success
315 has success
316 has success
317 has success
318 has success
319 has success
320 has success
321 has success
322 has success
323 has success
324 has success
325 has success
326 has success
327 has success
328 has success
329 has success
330 has success
331 has success
332 has success
333 has success
334 has success
335 has success
336 has success
337 has success
338 has success
339 has success
340 has success
341 has success
342 has success
343 has success
344 has success
345 has success
346 has success
347 has success
348 has success
349 has success
350 has success
351 has success
352 has success
353 has success
354 has success
355 has success
356 has success
357 has success
358 has success
359 has success
360 has success
361 has success
362 has success
363 has success
364 has success
365 has success
366 has success
367 has success
368 has success
369 has success
370 has success
371 has success
372 has success
373 has success
374 has success
375 has success
376 has success
377 has success
378 has success
379 has success
380 has success
381 has success
382 has success
383 has success
384 has success
385 has success
386 has success
387 has success
388 has success
389 has success
390 has success
391 has success
392 has success
393 has success
394 has success
395 has success
396 has success
397 has success
398 has success
399 has success
400 has success
401 has success
402 has success
403 has success
404 has success
405 has success
406 has success
407 has success
408 has success
409 has success
410 has success
411 has success
412 has success
413 has success
414 has success
415 has success
416 has success
417 has success
418 has success
419 has success
420 has success
421 has success
422 has success
423 has success
424 has success
425 has success
426 has success
427 has success
428 has success
429 has success
430 has success
431 has success
432 has success
433 has success
434 has success
435 has success
436 has success
437 has success
438 has success
439 has success
440 has success
441 has success
442 has success
443 has success
444 has success
445 has success
446 has success
447 has success
448 has success
449 has success
450 has success
451 has success
452 has success
453 has success
454 has success
455 has success
456 has success
457 has success
458 has success
459 has success
460 has success
461 has success
462 has success
463 has success
464 has success
465 has success
466 has success
467 has success
468 has success
469 has success
470 has success
471 has success
472 has success
473 has success
474 has success
475 has success
476 has success
477 has success
478 has success
479 has success
480 has success
481 has success
482 has success
483 has success
484 has success
485 has success
486 has success
487 has success
488 has success
489 has success
490 has success
491 has success
492 has success
493 has success
494 has success
495 has success
496 has success
497 has success
498 has success
499 has success
500 has success
501 has success
502 has success
503 has success
504 has success
505 has success
506 has success
507 has success
All embedding data have been updated into neo4j

In [10]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# Menghitung matriks kemiripan
similarity_matrix = cosine_similarity(embeddings)

# Menyimpan relasi SIMILAR_TO_DBMCV2
with driver.session() as session:
    for idx, restaurant in enumerate(restaurants):
        # Mendapatkan indeks restoran dengan kemiripan tertinggi (selain dirinya sendiri)
        similar_indices = np.argsort(similarity_matrix[idx])[::-1][1:6]
        for sim_idx in similar_indices:
            similarity_score = float(similarity_matrix[idx][sim_idx])
            session.run("""
                MATCH (r1:Restaurant {r_id: $r1_id}), (r2:Restaurant {r_id: $r2_id})
                MERGE (r1)-[s:SIMILAR_TO_DBMCV2]->(r2)
                SET s.score = $score
            """, r1_id=restaurant["r_id"], r2_id=restaurants[sim_idx]["r_id"], score=similarity_score)